.header {
  width: 100%;
  height: 100px;
  &Main {
    background-color:goldenrod;
    // display: flex;
    // justify-content: center;
    align-items: center;
    &__mainIcon {
      position: relative;
      margin-right: 50px;
      &--text {
        position: absolute;
        top: 20%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        font-weight: bold;
        color:rgb(116, 131, 34);
        font-size: 4em;
        &--bottom {
          position: absolute;
          top: 70%;
          left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        font-weight: bold;
        color:limegreen;
        font-size: 2em;


        }
      }
    }
  }
}